<div id="" class="row">	
<span class="badge badge-pill ">Application Health</span></br>
		<% application.ApplicationDashboardMetric.uniq{|p|p.metric_name}.each do |metric| %>
			<div id="" class="col">
					<%= link_to metric.metric_name, application_dashboard_metrics_path(appid:metric.application_id,metric_name: metric.metric_name), {:class=>"btn #{metric.isFailed(metric.metric_name)? 'btn-danger':'btn-success' }",:role=>"button"} %>
			</div>
		<% end %>
</div>
</br>

<div id="" class="row">	
<span class="badge badge-pill ">Platform Health</span></br>
		<% application.ApplicationDashboardMetric.uniq{|p|p.metric_name}.each do |metric| %>
			<div id="" class="col">
					<%= link_to metric.metric_name, application_dashboard_metrics_path(appid:metric.application_id,metric_name: metric.metric_name), {:class=>"btn #{metric.isFailed(metric.metric_name)? 'btn-danger':'btn-success' }",:role=>"button"} %>
			</div>
		<% end %>
</div>
</br>

<div id="" class="row">	
<span class="badge badge-pill ">Database Health</span></br>
		<% application.ApplicationDashboardMetric.uniq{|p|p.metric_name}.each do |metric| %>
			<div id="" class="col">
					<%= link_to metric.metric_name, application_dashboard_metrics_path(appid:metric.application_id,metric_name: metric.metric_name), {:class=>"btn #{metric.isFailed(metric.metric_name)? 'btn-danger':'btn-success' }",:role=>"button"} %>
			</div>
		<% end %>
</div>
