<h1 class="white-btn-link">Editing Application Dashboard Metric</h1>

<%= render 'form', application_dashboard_metric: @application_dashboard_metric %>

<%= link_to 'Show', @application_dashboard_metric %> |
<%= link_to 'Back', application_dashboard_metrics_path %>
