<%# add navigation links to this file %>
<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class='nav-item'>
      <%= link_to 'Dashboard', root_path , class: 'nav-link' %>
  </li>
<% else %>
<% end %>
